<p id="notice"><%= notice %></p>

<p>
  <strong>Tool barcode:</strong>
  <%= @tool.tool_barcode %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tool.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @tool.quantity %>
</p>

<%= link_to 'Edit', edit_tool_path(@tool) %> |
<%= link_to 'Back', tools_path %>
