<div class="page-header">
  <h1>Issue Tool</h1>
</div>

<% if notice %>
  <p><%= notice %></p>
<% end %>


<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <th>Tool Barcode</th>
      <th>Description</th>
      <th></th>
    </thead>

    <tbody>
      <% @tools.each do |tool| %>
        <tr>
          <td><%= tool.tool_barcode %></td>
          <td><%= sanitize(tool.description) %></td>
          <td><%= button_to 'Add to issuance', line_items_path(tool_id: tool), remote: true %></td>
        </tr>
        <div>
          <%#= button_to 'Add Tool', line_items_path(tool_id: tool), remote: true %>
        </div>
      <% end %>
    </tbody>
  </table>
</div><br><br>

<div id="issuance">
  <%= render @issuance %>
</div>