<p id="notice"><%= notice %></p>

<p>
  <strong>Tool:</strong>
  <%= @line_item.tool %>
</p>

<p>
  <strong>Issuance:</strong>
  <%= @line_item.issuance %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
